.card-heading{
  /* border: 2px solid black; */
  margin-bottom: 2rem;
  margin-top: 0;
}
.card-data{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
}
.card-data h2{
  font-size: 18px;
  font-weight: 500;
  margin-top: 1.5rem;
}
.card-data .prodct{
    cursor: pointer;
}
.card-data img{
  width: 180px;
  height: 180px;
}